@using System.Linq
@using TeaCommerce.Api.Models
@using TeaCommerce.Umbraco.Web
@using Umbraco.Core.Models
@using Umbraco.Web

@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
  Layout = "CartStepMaster.cshtml";

  IPublishedContent currentPage = Model.Content;
  IPublishedContent nextStep = currentPage.FollowingSibling();
  IPublishedContent prevStep = currentPage.PrecedingSibling();

  //store id
  long storeId = long.Parse( currentPage.GetPropertyValue<string>( "store", true ) );
  Order order = TC.GetCurrentOrder( storeId, false );
}
@if ( order != null ) {
  <div class="container cartContainer">
    <h1>Choose shipping and payment</h1>
    <form action="/base/TC/FormPost.aspx" method="post" class="form-horizontal form-autoValidate">
      <input name="SetCurrentPaymentMethod" value="paymentMethodId" type="hidden" />
      <input name="SetCurrentShippingMethod" value="shippingMethodId" type="hidden" />
      <input name="returnUrl" type="hidden" value="@nextStep.Url" />
      <input name="storeId" value="@storeId" type="hidden" />

      <div class="row">
        <div class="col-sm-6">
          <div class="well">
            <h3>Select payment method</h3>
            @foreach ( PaymentMethod method in TC.GetPaymentMethods( storeId ) ) {
              <div class="radio">
                <label>
                  <input type="radio" name="paymentMethodId" value="@method.Id"
                         @if ( method.Id == order.PaymentInformation.PaymentMethodId ) { @Html.Raw( "checked" )  }>
                  @method.Name (@TC.GetPriceForPaymentMethod(method.StoreId, method.Id))
                </label>
              </div>
            }
          </div>
        </div>
        <div class="col-sm-6">
          <div class="well">
            <h3>Select shipping method</h3>
            @foreach ( ShippingMethod method in TC.GetShippingMethods( storeId ) ) {
              <div class="radio">
                <label>
                  <input type="radio" name="shippingMethodId" value="@method.Id"
                         @if ( method.Id == order.ShipmentInformation.ShippingMethodId ) { @Html.Raw( "checked" )  }>
                  @method.Name (@TC.GetPriceForShippingMethod(method.StoreId, method.Id))
                </label>
              </div>
            }
          </div>
        </div>
      </div>

      <nav class="navbar">
        <button type="submit" class="btn btn-success">Continue</button>
        <a href="@prevStep.Url" class="btn btn-default">Back</a>
      </nav>
    </form>
  </div>
}