@using TeaCommerce.Api.Models
@using TeaCommerce.Umbraco.Web
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
  Layout = "Master.cshtml";

  IPublishedContent currentPage = Model.Content;

  //store id
  long storeId = long.Parse( currentPage.GetPropertyValue<string>( "store", true ) );

  //Variants
  List<IPublishedContent> variants = currentPage.Children.ToList();
  bool hasVariants = variants.Any();

  //Main product data
  IPublishedContent mainProduct = currentPage.AncestorOrSelf( "Product" );
  int mainProductId = mainProduct.Id;
  string mainProductName = mainProduct.GetPropertyValue<string>( "name" );
  Price mainProductPrice = TC.GetPrice( storeId, mainProductId.ToString() );
  HtmlString mainProductDescription = new HtmlString( mainProduct.GetPropertyValue<string>( "description" ) );

  IPublishedContent mainProductImage = null;

  int mainProductimageId = mainProduct.GetPropertyValue<int>( "image" );
  if ( mainProductimageId != 0 ) {
    mainProductImage = Umbraco.TypedMedia( mainProductimageId );
  }
  
}
<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <div class="productImages">
        @if ( hasVariants ) {
          int variantCounter = 0;

          foreach ( IPublishedContent variant in variants ) {
            int imageId = variant.GetPropertyValue<int>( "image" );
            IPublishedContent image = imageId != 0 ? Umbraco.TypedMedia( imageId ) : mainProductImage;

            if ( image != null ) {
          <img data-variantid="@variant.Id" class="@(variantCounter == 0 ? "" : "hidden")" src="@image.Url?width=750"/>
            }

            variantCounter++;
          }
        } else {
          if ( mainProductImage != null ) {
          <img src="@mainProductImage.Url?width=750"/>
          }
        }
      </div>
    </div>

    <div class="col-xs-4 product">

      <form method="post" action="/base/TC/FormPost.aspx" class="ajaxForm">
        <input name="AddOrUpdateOrderLine" value="productIdentifier, quantity" type="hidden" />
        <input name="storeId" value="@storeId" type="hidden" />

        <div class="well">
          @if ( hasVariants ) {
            int variantCounter = 0;

            foreach ( IPublishedContent variant in variants ) {
              int id = variant.Id;
              string name = variant.GetPropertyValue<string>( "name", true );
              Price price = TC.GetPrice( storeId, id.ToString() );
              HtmlString description = variant.GetPropertyValue<HtmlString>( "description", true );

            <div data-variantid="@id" class="@(variantCounter == 0 ? "" : "hidden")">
              <h1 class="page-header">@name</h1>
              <span class="price">@price</span>
              @Html.Raw( description )
            </div>

              variantCounter++;
            }
            <label for="variants">Variant:</label>
            <select class="form-control" name="productIdentifier" id="variants">
              @foreach ( IPublishedContent variant in variants ) {
                <option value="@variant.Id" >@variant.Name</option>
              }
            </select>
          } else {
            <h1 class="page-header">@mainProductName</h1>
            <span class="price">@mainProductPrice</span>
            @Html.Raw( mainProductDescription )
            <input name="productIdentifier" value="@mainProductId" type="hidden" />
          }
          <label for="quantity">Quantity:</label>
          <input class="form-control" id="quantity" name="quantity" value="1" type="text" />

          <input class="btn btn-primary btn-block" value="Add to basket" type="submit" />
        </div>
      </form>
    </div>
  </div>
</div>