@using TeaCommerce.Umbraco.Configuration.Variants.Models
@using TeaCommerce.Umbraco.Web
@using Umbraco.Core.Models
@using Umbraco.Web
@using System.Linq;

@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
  Layout = "Master.cshtml";

  IPublishedContent productPage = Model.Content;

  //store id
  long storeId = long.Parse( productPage.GetPropertyValue<string>( "store", true ) );

  //Main product data
  var productName = productPage.GetPropertyValue<string>( "productName" );
  var productDescription = new HtmlString( productPage.GetPropertyValue<string>( "description" ) );

  IPublishedContent productImage = productPage.GetPropertyValue<IPublishedContent>( "image" ); ;

  List<VariantPublishedContent> variants = TC.GetVariants( storeId, productPage, true ).ToList();

  List<VariantGroup> attributeGroups = TC.GetVariantGroups( productPage, variants ).ToList();

  string variantJson = TC.GetVariantJson( storeId, productPage, true );
}

<script type="text/javascript">
  var _products = @Html.Raw( variantJson );
</script>

<div class="container productView">
  <div class="row">
    <div class="col-sm-8">
      <div class="productImages">
        @if ( productImage != null ) {
          <img class="img-responsive" src="@productImage.Url?width=750" />
        }
      </div>
    </div>
    <div class="col-sm-4">
      <form method="post" action="/base/TC/FormPost.aspx" class="ajaxForm" data-product-id="@productPage.Id">
        <input name="AddOrUpdateOrderLine" value="productIdentifier, quantity" type="hidden" />

        <input name="storeId" value="@storeId" type="hidden" />

        <div class="well">
          <h1 class="page-header">@productName</h1>

          @Html.Raw( productDescription )

          <div class="form-horizontal">
            @if ( attributeGroups.Any() ) {
              foreach ( VariantGroup variantGroup in attributeGroups ) {
                <div class="form-group">
                  <label class="col-sm-3 control-label">@variantGroup.Name</label>
                  <div class="col-sm-9">
                    <select class="form-control" data-attribute-group="@variantGroup.Id">
                      <option value="">Select @variantGroup.Name</option>
                      @foreach ( VariantType variantType in variantGroup.Attributes ) {
                        <option value="@variantType.Id">@variantType.Name</option>
                      }
                    </select>
                  </div>
                </div>
              }
              <input name="productIdentifier" value="" type="hidden" />
            } else {
              <input name="productIdentifier" value="@productPage.Id" type="hidden" />
            }
            <div class="form-group">
              <label class="col-sm-3 control-label">Quantity</label>
              <div class="col-sm-9">
                <input class="form-control" name="quantity" value="1" type="text" />
              </div>
            </div>
          </div>
          <input class="btn btn-primary btn-block disabled" value="Add to basket" type="submit" />
        </div>
      </form>
    </div>
  </div>
</div>
